<body class="bodyindex"> 
<table class="table-table-striped" style="background: transparent;"> 
    <thead class="indexhead">
        <tr>
            <th> </th>
            <th>#</th>
            <th>Equipo</th>
            <th>PTS</th>
            <th>PJ</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
            <th>DG</th>
        </tr>
    </thead>
    <tbody>
        @foreach (equipo item in ViewBag.torneos)
        {
            <tr>
                <td><img src="@item.Image_equipo" class="ImagenFoto"></td>
                <td>@item.IDequipo</td> 
                <td>@item.Nombre_equipo</td> 
                <td>@item.puntos_equipo</td> 
                <td>@item.partido_jugados</td> 
                <td>@item.partidos_ganados</td> 
                <td>@item.partidos_empatados</td> 
                <td>@item.partidos_perdidos</td> 
                <td>@item.diferencia_de_gol</td> 
                
            </tr>
        }
    </body>
</table>
<button type="button" data-bs-toggle="modal" data-bs-target="#ModalTablaA" onclick="MostrarTablaGrupoA()"><h1>Grupo A Primera Nacional</h1></button>

<div class="modal fade" tabindex="-1" id="ModalTablaA" aria-labelledby="ModalTablaATitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="NombreEquipos">Equipos</h3>
        </div>
        <div class="modal-body">
            <div id="NombreEquipo">
                <p id = "NombreEquipo"></p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


<button type="button" data-bs-toggle="modal" data-bs-target="#ModalTablaB" onclick="MostrarTablaGrupoB()"><h1>Grupo B Primera Nacional</h1></button>

<div class="modal fade" tabindex="-1" id="ModalTablaB" aria-labelledby="ModalTablaBTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="NombreEquipos">Equipos</h3>
        </div>
        <div class="modal-body">
            <div id="NombreEquipoB">
                <p id = "NombreEquipoB"></p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
